@model MVCwithAuth.Models.Post

@{
    Layout = "_Post";
}

<div class="plexSerif">
    @{
        ViewData["Title"] = "Details";
    }

    <h1 class="postHeadingFont">Details</h1>

    <div>
        <hr />
        <div class="container containerForPagesExceptIndex postItemsBackground postFont">        
            <dl class="row">
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Title)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Title)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Content)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Content)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.TimeStamp)
                </dt>
                <dd class = "col-sm-10">
                    @Model.TimeStamp
                </dd>        
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.userEmail)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.userEmail)
                </dd>
            </dl>
        </div>
    </div>

    <span class="pmLinks"><a asp-action="Edit" asp-route-id="@Model.Id">Edit</a></span>
    <span class="pmLinks"><a asp-action="Index">Back to List</a></span>
    
</div>