@model IEnumerable<MVCwithAuth.Models.Post>

@{
    Layout = "_Post";
}

<span class="plexSerif">
    @* this isn't displayed *@
    @{
        ViewData["Title"] = "Index";
    }

    <h2 class="postHeadingFont">
        @ViewData["Message"]
    </h2>

    <h1 class="postHeadingFont">Index</h1>

    <p>
        <span class="pmLinks"><a asp-action="Create">Create New</a></span>
    </p>

    @foreach(var item in Model){
        <div class="container postIndexContainer postItemsBackground postFont">

            <div class="row">
                <span class="postTitle">
                    @Html.DisplayFor(modelItem => item.Title)
                </span>
            </div>

            <div class="row width100">
                @* @Html.Raw(item.Content);
                @Html.Raw(item.Content.Replace(Environment.NewLine, "<br/>"))); *@
                @Html.Raw(item.Content.Trim().Replace(Environment.NewLine, "<br/>"))
            </div>

            <div class="row postTimeAndLinks">

                <div class="alignLeft">
                    @Html.DisplayNameFor(model => model.TimeStamp)
                    @item.TimeStamp
                </div>

                <div class="alignCenter">
                    <p>Contact: @item.userEmail</p>
                </div>

                <div class="alignRight">
                    <span class="pmLinks"><a asp-action="Edit" asp-route-id="@item.Id">Edit</a></span>
                    <span class="pmLinks"><a asp-action="Details" asp-route-id="@item.Id">Details</a></span>
                    <span class="pmLinks"><a asp-action="Delete" asp-route-id="@item.Id">Delete</a></span>
                </div>

            </div>

        </div>
        
        <div class="postBorder"></div>
    }
</span>